Repository twin-te/twinte-front: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn prettier --write

Fix import pageの年度情報で表示年度を利用する
  src/ui/pages/import.vue
Due: yarn lint:fix

Fix 上手くオブジェクトがつくられていない問題を修正
  src/repositories/production/CourseRepository.ts
Due: yarn lint:fix

Fix course cards expanding switching bug
  src/ui/pages/add/csv.vue
  src/ui/pages/add/search.vue
Due: yarn lint:fix

Format
  src/ui/pages/add/csv.vue
Due: yarn lint:fix

Remove extra never used variable
  src/ui/App.vue
Due: yarn lint:fix

Use pixel for spelifying loader size and refactor Scss
  src/ui/components/IconButton.vue
  src/ui/components/Loader.vue
Due: yarn lint:fix

Fix import error
  src/ui/pages/import.vue
Due: yarn lint:fix

Refact course search
  src/ui/CoursesSearch.ts
  src/ui/pages/add/search.vue
  src/ui/subject.ts
Due: yarn lint:fix

Fix only blank search
  src/application/usecases/course/searchCourse.ts
Due: yarn lint:fix

Add URL preview to memo
  src/ui/components/TextFieldMultilines.stories.ts
  src/ui/components/TextFieldMultilines.vue
  src/ui/pages/course/_id/index.vue
  src/utils.ts
Due: yarn lint:fix

Fix course order in /credit/_id page
  src/ui/pages/credit/_id.vue
Due: yarn lint:fix

Upgrade vue and vue-tsc version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Upgrade vue-router and @gtm-support/vue-gtm version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Upgrade vue3-click-away version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Upgrade vuex version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Update jest @types/jest esbuild-jest ts-node version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Upgrade vite, @vitejs/plugin-vue and vite-plugin-fonts version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Update packages related to eslint version to latest and fix eslint errors
  .eslintrc.cjs
  package.json
  src/ui/pages/import.vue
  src/ui/pages/index.vue
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

Update rollup and @sentry/rollup-plugin version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Update @vue/compiler-sfc version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Update @types/node version
  package.json
  yarn.lock
Due: yarn prettier --write

Update @unocss/reset version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Update sass version to latest and fix Scss syntac errors
  package.json
  src/ui/styles/_mixin.scss
  yarn.lock
Due: yarn prettier --write

update husky lint-staged version to latest
  package.json
  yarn.lock
Due: yarn prettier --write

Update @vueuse packages version to latest
  package.json
  src/ui/pages/add/search.vue
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

Update Node version in production
  Dockerfile
Due: none

Add Dependabot config file
  dependabot.yml
Due: none

Fix dependabot config file path
  .github/dependabot.yml
Due: none

[WIP]
  .github/workflows/docker.yml
  Dockerfile
Due: none

[WIP]
  .github/workflows/docker.yml
  vite.config.ts
Due: yarn lint:fix

Fix Sentry plugin error during production building
  vite.config.ts
Due: yarn lint:fix

Make tsc do type checking for vite.config.ts
  tsconfig.json
Due: yarn prettier --write

Fix gathering information related to course searches
  src/ui/pages/add/search.vue
Due: yarn lint:fix

Add Sentry replay
  src/ui/main.ts
Due: yarn lint:fix

Renamed view-settings to settings.vue and changed sidebar accordingly
  src/ui/pages/settings.vue
  src/ui/route.ts
  src/ui/templates/Sidebar.vue
Due: yarn lint:fix

Fix bug in schedule conflict check in adding courses
  src/ui/pages/add/search.vue
  src/utils.ts
Due: yarn lint:fix

Add toast to notify error when the already registered course has been added
  src/ui/pages/add/search.vue
  src/ui/store/toast.ts
Due: yarn lint:fix

Add tracking evnet to count duplicated courses error
  src/ui/pages/add/search.vue
Due: yarn lint:fix

Add tags
  src/ui/pages/add/csv.vue
  src/ui/pages/add/manual.vue
Due: yarn lint:fix

Fix timetable parameter in searching
  src/infrastructure/api/converters/timetable.ts
Due: yarn lint:fix

Path conditions:
  yarn lint:fix: any of: *.{ts,tsx,vue}
  yarn prettier --write: any of: *.{md,json}
