Repository twin-te/twinte-front: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,vue}": [
    "yarn lint:fix"
  ],
  "*.{md,json}": [
    "yarn prettier --write"
  ],
  "*.{scss}": []
}

Google Tag Managaer を追加
  package.json
  src/main.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

UA タグを削除し、Google Tag Manager で一元管理するように変更
  package.json
  src/main.ts
  src/route.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

change: WeekDay contains Saturday
  src/entities/day.ts
Due: yarn lint:fix

add: SaturdayCourseMode
  src/pages/view-settings.vue
  src/store/getter.ts
  src/store/index.ts
  src/store/mutations.ts
  src/usecases/useSaturdayCourseMode.ts
Due: yarn lint:fix

update: display saturday courses as normal course in timetable
  src/entities/module.ts
  src/entities/table.ts
  src/pages/index.vue
  src/usecases/courseListToSpecialTable.ts
  src/usecases/courseListToTable.ts
Due: yarn lint:fix

change: default value on saturdayCourseMode
  src/store/index.ts
  src/usecases/useSaturdayCourseMode.ts
Due: yarn lint:fix

検索をトラッキングする処理を追加
  src/pages/add/search.vue
Due: yarn lint:fix

イベント計測用のマーカを設置
  README.md
  src/components/PopupContent.vue
  src/pages/course/_id/index.vue
  src/pages/index.vue
Due: yarn lint:fix, yarn prettier --write

update: entities
  src/entities/day.ts
  src/entities/method.ts
  src/entities/module.ts
Due: yarn lint:fix

add: createBlankSchedule and isValidSchedules
  src/entities/schedule.ts
Due: yarn lint:fix

update: process on displayCourse
  src/entities/course.ts
  src/usecases/useDisplayCourse.ts
Due: yarn lint:fix

update: displayCourse 関連の処理を統一
  src/pages/add/manual.vue
  src/pages/course/_id/edit.vue
  src/pages/course/_id/index.vue
  src/usecases/addCourseByManual.ts
  src/usecases/getCourseById.ts
  src/usecases/updateCourse.ts
Due: yarn lint:fix

fix: view が変更されないバグ
  src/pages/add/manual.vue
  src/pages/course/_id/edit.vue
Due: yarn lint:fix

add: 2022 in view settings
  src/pages/view-settings.vue
Due: yarn lint:fix

update: 手動で追加した授業のポップアップからシラバスへの遷移項目を消す
  src/pages/course/_id/index.vue
Due: yarn lint:fix

fix: 開講時限で同一のCourseScheduleが登録できるバグ
  src/entities/schedule.ts
  src/pages/add/manual.vue
  src/pages/course/_id/edit.vue
Due: yarn lint:fix

update: 単位数の表示と編集
  src/entities/credit.ts
  src/pages/add/manual.vue
  src/pages/course/_id/edit.vue
  src/pages/course/_id/index.vue
  src/usecases/useDisplayCourse.ts
Due: yarn lint:fix

remove vue-demi importing
  src/pages/index.vue
  src/usecases/getCourseById.ts
Due: yarn lint:fix

vue-tsc を導入、セットアップ
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write

推奨開発環境について readme に追記
  README.md
Due: yarn prettier --write

update openapi spec
  src/api/$api.ts
  src/api/@types/index.ts
  src/api/timetable/_date@string/index.ts
Due: yarn lint:fix

エラー処理周りの Type Error を修正
  src/pages/add/csv.vue
  src/pages/add/manual.vue
  src/pages/add/search.vue
  src/pages/course/_id/index.vue
  src/usecases/error.ts
Due: yarn lint:fix

Object.keys では型推論ができない問題を修正
  src/pages/add/manual.vue
  src/pages/course/_id/edit.vue
  src/usecases/searchCourse.ts
  src/util.ts
Due: yarn lint:fix

feedback.vue の type error を修正
  src/pages/feedback.vue
Due: yarn lint:fix

search.vue の type error を修正
  src/pages/add/search.vue
Due: yarn lint:fix

そのままでは型推論が行えない処理 filter, include などを型推論が行えるよう改善
  src/entities/calendar.ts
  src/entities/day.ts
  src/entities/module.ts
  src/usecases/courseListToSpecialTable.ts
  src/usecases/courseListToTable.ts
  src/util.ts
Due: yarn lint:fix

searchCourse の type error を修正
  src/usecases/searchCourse.ts
Due: yarn lint:fix

periodToString.ts の type error を修正
  src/usecases/periodToString.ts
Due: yarn lint:fix

lint-staged に typecheck を追加
  .gitignore
  .lintstagedrc
  .lintstagedrc.js
Due: none

fix lintstagedrc
  .lintstagedrc.js
Due: none

formatがチェックされるようにする
  .github/workflows/ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  src/components/PopupContent.vue
  src/main.ts
  src/pages/add/search.vue
  src/usecases/courseListToTable.ts
Due: yarn lint:fix, yarn prettier --write

getYearミスってたので修正
  src/usecases/__tests__/getYear.test.ts
  src/usecases/getYear.ts
  src/usecases/index.ts
Due: yarn lint:fix

add: disabled
  src/components/Button.vue
  src/components/Dropdown.vue
  src/components/IconButton.vue
Due: yarn lint:fix

Add component related to tag
  src/components/CreditCourseListContent.vue
  src/components/CreditFilter.vue
  src/components/Tag.vue
  src/components/TagEditor.vue
  src/components/TagListContent.vue
  src/pages/tag-develop.vue
  src/route.ts
  src/scss/_mixin.scss
Due: yarn lint:fix

Install & Setup Storybook
  .devcontainer/devcontainer.json
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: yarn prettier --write

add stories
  src/components/Button.stories.ts
  src/components/CardCourse.stories.ts
Due: yarn lint:fix

不要なパッケージを削除
  package.json
  yarn.lock
Due: yarn prettier --write

fix: line-height to correspond multiple lines
  src/components/CreditCourseListContent.vue
Due: yarn lint:fix

fix: max-width and box-shadow
  src/components/TagListContent.vue
  src/pages/credit.vue
Due: yarn lint:fix
