Repository twin-te/twinte-front: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,vue}": [
    "yarn lint:fix"
  ],
  "*.{md,json}": [
    "yarn prettier --write"
  ],
  "*.{scss}": []
}

add preview alias
  package.json
Due: yarn prettier --write

fix preview alias
  package.json
Due: yarn prettier --write

fix bug that api module conains Annual
  src/infrastructure/api/converters/schedule.ts
Due: yarn lint:fix

fix
  src/infrastructure/api/converters/schedule.ts
Due: yarn lint:fix

fix storybook
  .storybook/main.js
  .storybook/preview.js
  src/ui/components/Button.stories.ts
  src/ui/components/IconButton.stories.ts
  src/ui/components/LabeledTextField.stories.ts
  src/ui/components/Loader.stories.ts
Due: yarn lint:fix

add tertiary button
  src/ui/components/TertiaryButton.stories.ts
  src/ui/components/TertiaryButton.vue
Due: yarn lint:fix

add room and instructor editor
  src/domain/schedule.ts
  src/presentation/presenters/course.ts
  src/presentation/presenters/instructor.ts
  src/presentation/presenters/room.ts
  src/presentation/presenters/timetable.ts
  src/ui/components/MultiTextFieldEditor.vue
  src/ui/components/RoomEditor.vue
  src/ui/pages/add/manual.vue
  src/ui/pages/course/_id/edit.vue
Due: yarn lint:fix

refactor tertiary button
  src/ui/components/TertiaryButton.vue
Due: yarn lint:fix

update text field single line
  .storybook/main.js
  package.json
  src/ui/components/TextFieldSingleLine.stories.ts
  src/ui/components/TextFieldSingleLine.vue
  src/ui/pages/add/search.vue
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

fix component property type
  src/ui/components/MultiTextFieldEditor.vue
Due: yarn lint:fix

Add dark mode to loading screen
  src/ui/App.vue
Due: yarn lint:fix

Add dark mode to initial rendering
  index.html
Due: none

Remove header and add button to move to home and feedback page in error page
  src/ui/components/Error.vue
Due: yarn lint:fix

Add dark mode to error page
  src/ui/components/Error.vue
Due: yarn lint:fix

fix type assertion
  src/ui/pages/add/manual.vue
  src/ui/pages/course/_id/edit.vue
Due: yarn lint:fix

fix the way api course updates
  src/infrastructure/api/converters/registeredCourse.ts
Due: yarn lint:fix

Fix the way schedule with no name room is converted
  src/infrastructure/api/converters/schedule.ts
Due: yarn lint:fix

fix the day of the week
  src/ui/pages/index.vue
Due: yarn lint:fix

Add proxy server for development
  .env.development
  devproxy/Dockerfile
  devproxy/proxy_nginx.conf
  devproxy/readme.md
Due: yarn prettier --write

Remove v2 service worker unregister
  src/ui/App.vue
Due: yarn lint:fix

Add the service worker to cache requests.
  .lintstagedrc.js
  package.json
  serviceworkers/fallback.ts
  serviceworkers/tsconfig.json
  src/ui/App.vue
Due: yarn lint:fix, yarn prettier --write

Fix event
  src/domain/event.ts
  src/presentation/__tests__/eventToDisplay.test.ts
  src/presentation/presenters/event.ts
  src/presentation/viewmodels/event.ts
  src/ui/components/PageHeader.vue
  src/ui/pages/index.vue
  src/ui/store/event.ts
Due: yarn lint:fix

Fix overflow and comparison operator
  src/ui/components/PageHeader.vue
  src/ui/store/event.ts
Due: yarn lint:fix

Fix unable login
  src/ui/App.vue
Due: yarn lint:fix

Make contacts address mandatory
  src/ui/pages/feedback.vue
Due: yarn lint:fix

Remove Twitter option from contacts
  src/ui/pages/feedback.vue
Due: yarn lint:fix

Add disabled option to `TextFeildSingleLine` Component
  src/ui/components/TextFieldSingleLine.vue
Due: yarn lint:fix

Add a checkbox to allow replies to feedback page
  src/ui/pages/feedback.vue
Due: yarn lint:fix

Add Sentry error tracking
  .env.production
  package.json
  src/ui/App.vue
  src/ui/main.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

Add auto uploading source maps to Sentry
  .github/workflows/docker.yml
  Dockerfile
  package.json
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

Remove the extra package
  package.json
  yarn.lock
Due: yarn prettier --write

Narrow down the callback error catch
  src/infrastructure/api/index.ts
Due: yarn lint:fix

Delete Code Owner file
  .github/CODEOWNERS
Due: none

Delete v2 Service Workers unmounting
  src/ui/App.vue
Due: yarn lint:fix

Use vue-eslint-parser in eslint and update vue-eslint-parser
  .eslintrc.cjs
  package.json
  yarn.lock
Due: yarn prettier --write

Delete unused variables
  src/ui/pages/add/manual.vue
  src/ui/pages/add/search.vue
  src/ui/pages/course/_id/edit.vue
  src/ui/pages/course/_id/index.vue
  src/ui/pages/index.vue
  src/ui/templates/Layout.vue
  src/ui/templates/Sidebar.vue
Due: yarn lint:fix

Disable `@typescript-eslint/no-unused-vars` as a workadound.
  src/ui/components/ScheduleEditer.vue
Due: yarn lint:fix

Fix `@typescript-eslint/no-explicit-any` lint warning
  src/ui/components/Button.vue
Due: yarn lint:fix

Disable `vue/no-v-html`
  src/ui/components/NewsBox.vue
Due: yarn lint:fix

Disable `import/no-named-as-default-member`
  src/infrastructure/api/index.ts
  src/infrastructure/firebase/index.ts
Due: yarn lint:fix
