Repository twin-te/twinte-front: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,vue}": [
    "yarn lint:fix"
  ],
  "*.{md,json}": [
    "yarn prettier --write"
  ],
  "*.{scss}": []
}

Regenerate aspida codes
  src/infrastructure/api/aspida/$api.ts
  src/infrastructure/api/aspida/@types/index.ts
  src/infrastructure/api/aspida/courses/search/index.ts
  src/infrastructure/api/aspida/tags/index.ts
Due: yarn lint:fix

Update src/ui/pages/settings.vue
  src/ui/pages/settings.vue
Due: yarn lint:fix

yarn apigen を実行
  src/api/$api.ts
  src/api/@types/index.ts
  src/api/courses/_year@number/_code@string/index.ts
  src/api/courses/index.ts
  src/api/courses/search/index.ts
  src/api/donation/aggregate/totalAmount/index.ts
  src/api/donation/aggregate/users/index.ts
  src/api/donation/payment/index.ts
  src/api/donation/session/onetime/index.ts
  src/api/donation/session/subscription/index.ts
  src/api/donation/subscriptions/_id@string/index.ts
  src/api/donation/subscriptions/index.ts
  src/api/donation/users/me/index.ts
  src/api/information/_id@string/index.ts
  src/api/information/index.ts
  src/api/registered-courses/_id@string/index.ts
  src/api/registered-courses/index.ts
  src/api/school-calendar/events/index.ts
  src/api/school-calendar/modules/index.ts
  src/api/tags/_id@string/index.ts
  src/api/tags/index.ts
  src/api/timetable/_date@string/index.ts
  src/api/users/me/index.ts
Due: yarn lint:fix

Fixed path to settings in Sidebar.vue
  src/ui/templates/Sidebar.vue
Due: yarn lint:fix

通知設定がサイドバーに残っていたため、追加で削除
  src/ui/templates/Sidebar.vue
Due: yarn lint:fix

feat: 見出しを追加
  src/ui/pages/settings.vue
Due: yarn lint:fix

wip: 複数の認証プロバイダとのアカウント連携機能を実装
  src/domain/user.ts
  src/infrastructure/api/aspida/@types/index.ts
  src/repositories/development/UserRepositoryInMemory.ts
  src/ui/components/Button.vue
  src/ui/pages/settings.vue
Due: yarn lint:fix

feat: 連携解除時のモーダルを追加
  src/ui/pages/settings.vue
Due: yarn lint:fix

wip: 連携解除時の動作
  src/ui/pages/settings.vue
Due: yarn lint:fix

Set build target to ES2020
  vite.config.ts
Due: yarn lint:fix

Add `Array#at` polyfill
  package.json
  src/ui/main.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

アカウント登録時の文言にプライバシーポリシーへの言及を追加
  src/ui/pages/login.vue
Due: yarn lint:fix

Formatted login.vue
  src/ui/pages/login.vue
Due: yarn lint:fix

fix: 連携解除時のモーダルのサイズをsmallに修正
  src/ui/pages/settings.vue
Due: yarn lint:fix

feat: App urlを環境変数で設定するように変更した
  .env.development
  .env.production
  .env.staging
  src/ui/main.ts
  src/ui/templates/Layout.vue
  src/ui/url.ts
Due: yarn lint:fix

feat: ステージング環境用のイメージをビルドするワークフローを追加
  .github/workflows/docker-production.yml
  .github/workflows/docker-staging.yml
  production.Dockerfile
  staging.Dockerfile
Due: none

format: npm run format:fix
  src/ui/url.ts
Due: yarn lint:fix

revert: Sentryの設定への変更をもとに戻した
  .env.production
  src/ui/main.ts
Due: yarn lint:fix

fix: ビルド時のDockerfileのパスを修正
  .github/workflows/docker-production.yml
  .github/workflows/docker-staging.yml
Due: none

fix: production.Dockerfileで環境変数を指定し忘れていた
  production.Dockerfile
Due: none

WIP
  .prettierignore
  package.json
  src/domain/timetable.ts
  src/usecases/timetable.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier --write

授業編集時に勝手に空文字が担当教員欄に入りバリデーションエラーになるバグを修正
  src/infrastructure/api/converters/instructor.ts
Due: yarn lint:fix
